img {
    pointer-events: none;
}

.controls {
    height: 200px;
    width: 200px;

}

#speed {
    height: 204px;
    width: 217px;
    vertical-align: text-bottom;
    font-size: 170px;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    color: red;
    border: 3px solid seagreen;
}

#video {
    border-radius: 30px;
    height: 714px;
    width: 920px;
}

.controls_view {
    padding-top: 20px;
}

#web_dist{
    /*padding: 10px;*/
}

.sensors {
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    display: table;
    width: 98%;
    table-layout: fixed;
    font-size: 60px;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif
}

.column {
    border-radius: 10px;
    display: table-cell;
    background-color: #45719e;
    border: 3px solid #000000;
}

/*body {*/
    /*background-color: darkgrey;*/
/*}*/