img {
    pointer-events: none;
}

.controls {
    height: 200px;
    width: 200px;
    /*background-color: transparent;*/
    /*border: 3px solid seagreen;*/

}

.ctrl {
    border-radius: 30px;
    background-color: #88a198;
    border: 2px solid black;
    outline: 0;
    outline-offset: 0;
}

#speed {
    height: 204px;
    width: 217px;
    vertical-align: text-bottom;
    font-size: 170px;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    color: red;
    /*border: 3px solid seagreen;*/
    background-color: #c8e58b;
}

#video {
    border-radius: 30px;
    height: 714px;
    width: 920px;
}

.controls_view {
    padding-top: 20px;
}


.sensors {
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    display: table;
    width: 98%;
    table-layout: fixed;
    font-size: 60px;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.column {
    border-radius: 10px;
    display: table-cell;
    background-color: #c8e58b;
    border: 2px solid #000000;
}
.bot_control {
    width: 300px;
    background-color: green;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    margin: 10px 25px;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 0;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;

}

.absolute {
  position: absolute;
  width: 100%;
  bottom: 15px;
}



[class^="btn"] {
    background-color: Transparent;
    border: none;
    cursor: pointer;
    height: 220px;
    width: 270px;
    outline: 0;
    outline-offset: 0;
}


.container {position: relative;}
.container .btn_right {
    position: absolute;
    bottom: 252px; /*your button position*/
    right: 10px; /*your button position*/
}


.container .btn_left {
    position: absolute;
    bottom: 252px; /*your button position*/
    left: 10px; /*your button position*/
}

.container .btn_top {
    position: absolute;
    top: 5px;
    left: 332px;
}

.container .btn_bottom {
    position: absolute;
    left: 332px;
    bottom: 10px;
}

.container .btn_center {
    position: absolute;
    left: 332px;
    bottom: 252px;
}


body {
    background-color: darkgrey;
}

