<!DOCTYPE html>
<html leng="en">
  <head>
      <title>devastator</title>
      <meta name="viewport" content="width=device-width, initial-scale=0.38, maximum-scale=0.38" charset="UTF-8">
      <link href="/static/css/main.css" rel="stylesheet">
      <script src="/static/js/robot.js"></script>
  </head>
  <body onload="init()">
    <div id="web_dist" align="center">
        <div><img id="video" alt="" src="http://10.7.10.20:8000/stream.mjpg"></div>
        <!--<div><img id="video" alt="" src="/static/images/1234.jpg"></div>-->
        <div class="sensors" align="center">
            <div class="column" id="ping">ping: </div>
            <div class="column" id="distance">distanse:  </div>
        </div>
    </div>
    <div class="controls_view">
        <div align="middle">
            <button class="ctrl" id="forward"><img class="controls" alt="" src="/static/images/forward.png"></button>
        </div>
        <div align="middle">
            <button class="ctrl" id="left"><img class="controls" alt="" src="/static/images/left.png"></button>
            <button class="ctrl" onclick="speed_changer()" id="speed"></button>
            <button class="ctrl" id="right"><img class="controls" alt="" src="/static/images/right.png"></button>
        </div>
        <div align="middle">
            <button class="ctrl" id="backward"><img class="controls" alt="" src="/static/images/reverse.png"></button>
        </div>
    </div>
    <div align="center" class="absolute">
        <a href="/power" class="bot_control">power</a>
        <button class="bot_control">color</button>
    </div>
  </body>
</html>
